.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  
  background-color: #7dcbc4;
  
  h1{
    font-size: 4.2rem;
    color: #fff;
  }
  
  p{
    font-size: 2.4rem;
    color: #fff;
  }
}